<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :comment_content %>

    <%= f.text_field :comment_content, class: "form-control" %>
  </div>

  <%= f.hidden_field :commenter, value: @user.id %>

  <div class="form-group">
    <%= f.label :photo_id %>

    <%= f.collection_select :photo_id, Picture.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
