<% was_validated = picture.errors.any? %>

<%= form_with(model: picture, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = picture.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% picture.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = picture.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
    <% if photo_was_invalid %>
      <% picture.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% photo_owner_class = "form-control" %>
    <% photo_owner_was_invalid = picture.errors.include?(:photo_owner) %>

    <% if was_validated %>
      <% if photo_owner_was_invalid %>
        <% photo_owner_class << " is-invalid" %>
      <% else %>
        <% photo_owner_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo_owner %>
    <%= f.collection_select :photo_owner, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if photo_owner_was_invalid %>
      <% picture.errors.full_messages_for(:photo_owner).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% place_class = "form-control" %>
    <% place_was_invalid = picture.errors.include?(:place) %>

    <% if was_validated %>
      <% if place_was_invalid %>
        <% place_class << " is-invalid" %>
      <% else %>
        <% place_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :place %>
    <%= f.text_field :place, class: place_class, placeholder: "Enter place" %>
    <% if place_was_invalid %>
      <% picture.errors.full_messages_for(:place).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
