<%= form_with(model: @comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :comment_content %>

    <%= f.text_field :comment_content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :commenter %>

    <%= f.collection_select :commenter, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :photo_id, value: @picture.id %>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
